.section-dos-container{
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

.items {
    border: solid 2px gray;
    border-radius: 5px;
    grid-template-rows: 2fr 1fr;
    cursor: pointer;
    transition: all 0.1s;
  }
 

 .icon-wrapper .image {
  font-size: 100px;
  transform: translateY(0px);
  transition: all 0.6s;
}
.icon-wrapper {
  align-self: end;  
}
.project-name {
  align-self: start;
}
.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  transform: translateY(0px);
  transition: all 0.5s;
}
 .items:hover {
/*     border: 1px solid rgb(176, 173, 173);
 */     box-shadow: 1px 1px 12px   white;
    & .project-name p {
      transform: translateY(-10px);
    }
    & .icon-wrapper .image {
      transform: translateY(5px);
    }
  }