

.container-dos{
   
    width: 100%;
}

.container-dos .card-dos{
    position: relative;
    cursor: pointer;
}

.container-dos .card-dos .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-dos .card-dos .face.face1{
    position: relative;
    background: #3a3939;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-dos .card-dos:hover .face.face1{
    background: #f95959;
    transform: translateY(0);
}

.container-dos .card-dos .face.face1 .content{
    transition: 0.5s;
}

.container-dos .card-dos:hover .face.face1 .content{
    opacity: 1;
}

.container-dos .card-dos .face.face1 .content img{
    max-width: 100px;
}

.container-dos .card-dos .face.face1 .content h3{
    margin: 10px 0 0;
    color: #eadede;
    
    text-align: center;
    font-size: 1em;
}

.container-dos .card-dos .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-dos .card-dos:hover .face.face2{
    transform: translateY(0);
}



.container-dos .card-dos .face.face2 .content a{
    margin: 5px;

    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container-dos .card-dos .face.face2 .content a:hover{
    background: #f95959;
    color: #fff;
}